{% if conversation_histories %}
CONVERSATION_HISTORY:
{% for h in conversation_histories %}
user: {{ h.original_user_query }}
assistant: {{ h.response }}

{% endfor %}
{% endif %}
USER_QUERY:
{{ user_query }}

QUERY_CONTEXT:
{{ query_context }}
