{% if conversation_histories %}
CONVERSATION_HISTORY:
{% for h in conversation_histories %}
<conversation>
- user: {{ h.original_user_query }}
- assistant: {{ h.response }}
</conversation>
{% endfor %}

{% endif %}
ORIGINAL_TASK:
{{ original_task }}

SUBTASK:
{{ subtask }}

QUERY_CONTEXT:
{{ query_context }}

PREVIOUS_TASK_RESULTS:
{% for task_result in previous_task_results %}
<task_result>
- task: {{ task_result["task"] }}
- result: {{ task_result["result"] }}
</task_result>
{% endfor %}

PREVIOUS_SUBTASK_RESULTS:
{% for subtask_result in previous_subtask_results %}
<subtask_result>
    - subtask:
    {{ subtask_result["subtask"] }}
    - result:
    {{ subtask_result["result"] }}
</subtask_result>
{% endfor %}
