The Task:
{{ task }}

USER_CONTEXT:
{{ user_context }}

PREVIOUS_TASK_RESULTS:
{% for task_result in previous_task_results %}
<task_result>
- task: {{ task_result["task"] }}
- result: {{ task_result["result"] }}
</task_result>
{% endfor %}

PREVIOUS_SUBTASK_RESULTS:
{% for iteration_result in iteration_results %}
<subtask_result>
    - subtask:
    {{ iteration_result["subtask"] }}
    - result:
    {{ iteration_result["result"] }}
</subtask_result>
{% endfor %}
